{sub_dirs, ["rel", "apps/report", "rel1"]}.
{deps_dir, ["deps"]}.
{plugins, [rebar_ct]}.
{erl_opts, [debug_info, fail_on_warning, {rec2json, [{generate_accessors, false}]}, {parse_transform, lager_transform}, {parse_transform, rec2json}]}.
{deps,
  [
    {lager, "2.0.1", {git, "https://github.com/basho/lager.git", {tag, "2.0.1"}}},
    {rec2json, ".*", {git, "https://github.com/hairyhum/rec2json.git"}},
    {epgsql, ".*", {git, "https://github.com/hairyhum/epgsql.git", {branch, "devel"}}},
    {sqerl, ".*", {git, "https://github.com/hairyhum/sqerl.git"}},
    {qdate, ".*", {git, "https://github.com/choptastic/qdate.git"}},
    {jsonx, ".*", {git, "https://github.com/hairyhum/jsonx.git", {branch, "special_chars"}}},
    {yamler, ".*", {git, "https://github.com/goertzenator/yamler.git", {branch, "master"}}},
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git"}},
    {rebar_vsn_plugin, "", {git, "https://github.com/erlware/rebar_vsn_plugin.git", {branch, "master"}}},
    {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "1.0.1"}}}
  ]}.

{plugins, [rebar_vsn_plugin]}.
