[
 {lager, [
   {error_logger_hwm, 200},
   {handlers, [
     {lager_file_backend, [{file, "log/erl_error.log"}, {level, error}, {size, 0}, {date, ""}]},
     {lager_file_backend, [{file, "log/erl_info.log"}, {level, info}, {size, 0}, {date, ""}]},
     {lager_file_backend, [{file, "log/erl_debug.log"}, {level, debug}, {size, 0}, {date, ""}]}
   ]}
 ]},
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

